<%- include('header'); -%>
    <title>Announcements</title>
    </head>

    <body>
        <!-- navbar section start  -->
        <%- include('navbar'); -%>
            <!-- navbar section ends  -->
            <!-- video section starts  -->
            <div id="intro-page">
                <video autoplay loop id="myVideo">
                    <source src="css/video/campus.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>

                <div class="head-content" class="container-fluid" class="flex-container">
                    <div id="inner-intro">
                        <h1 class="ml1" class="heading">
                            <span class="text-wrapper">
                                <span class="line line1"></span>
                                <span text-align="center;">
                                    <span class="letters">BITS GOA</span>
                                </span>
                                <span class="line line2"></span>
                            </span>
                        </h1>

                        <h1 class="ml12">ANNOUNCEMENTS</h1>


                        <button id="myBtn" onclick="myFunction()">Pause</button>
                    </div>
                </div>
            </div>
            <!-- video section ends  -->
            <!-- event-announcer section starts  -->
            <section id="event-announcer">
                
                <div class="container full granimate">
                    <% for(var i=0; i< users.length; i++) { %>
                        <form action="/description" method="post" class = "formabc">
                            
                                <input type="hidden" name="eventAnnouncerID" value= "<%= users[i]._id %>">
                            
                            <div class="item" onclick="document.forms['<%-JSON.stringify(i)%>'].submit()">
                                
                                
                                <div class="content" id="<%= i %>">
                                    <div> <br><br><br><br>
                                        Title: <%= users[i].fname %><br><br><br>Date: <%= users[i].lname %>
                                        <br><br><br>Time: <%= users[i].etime %>
                                    </div>
                                </div>
                                <div class="item_input">Event : <%= users[i].fname %>
                                </div>
                            </div>
                        </form>
                        <!-- <div class= <%= users[i]._id %> style="display: none;">
                            Lorem ipsum dolor sit. : <%= users[i].fname %>;
                        </div>
                        <script>
                            $('.content').click(function(){
                                
                                $('.formabc').css('display','none');
                                $(`#`+'<%=users[i]._id%>').css('display','block');
                                // document.getElementById('description').style.display = 'block';
                            })
                        </script> -->
                        <% } %>
                    </div>
            </section>
            <!-- event-announcer section ends  -->
            <%- include('footer') -%>