<%- include('header'); -%>
    <title>Announcements</title>
    </head>

    <body>
        <!-- navbar section start  -->
        <%- include('navbar'); -%>
            <!-- navbar section ends  -->
            <!-- video section starts  -->
            <div id="intro-page">
                <video autoplay loop id="myVideo">
                    <source src="css/video/campus.mp4" type="video/mp4">
                    Your browser does not support HTML5 video.
                </video>

                <div class="head-content" class="container-fluid" class="flex-container">
                    <div id="inner-intro">
                        <h1 class="ml1" class="heading">
                            <span class="text-wrapper">
                                <span class="line line1"></span>
                                <span text-align="center;">
                                    <span class="letters">BITS GOA</span>
                                </span>
                                <span class="line line2"></span>
                            </span>
                        </h1>

                        <h1 class="ml12">ANNOUNCEMENTS</h1>


                        <button id="myBtn" onclick="myFunction()">Pause</button>
                    </div>
                </div>
            </div>
            <!-- video section ends  -->
            <!-- event-announcer section starts  -->
            <% var size=users.length %>
                <section id="event-announcer">

                    <div class="event-card-container">
                        <div class="event-card" >

                            
                            <div class="event-card-img">
                                <img src="css/event_announcer/derrick-cooper-L505cPnmIds-unsplash.jpg" alt="">
                            </div>
                            <div class="event-card-content">
                                <ul><li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit.</li></ul>
                            </div>
                        </div>
                        
                        
                        <% for(var i=0; i< 4; i++) { %>
                            <!-- <form action="/description" method="post" class="formabc">

                                <input type="hidden" name="eventAnnouncerID" value="<%= users[i]._id %>"> -->

                            <div class="event-card" id="<%=`${i.toString()}card` %>">

                                <!-- onclick="document.forms['<%-JSON.stringify(i)%>'].submit()" -->
                                <!-- <div class="face1">
                                    <img src="css/event_announcer/poster-background.jpeg" alt="">
                                </div>
                                <div class="content">
                                    <div> <br><br><br><br>
                                        Title: <%= users[i].fname %><br><br><br>Date: <%= users[i].lname %>
                                                <br><br><br>Time: <%= users[i].etime %>
                                    </div> -->
                                <!-- </div> -->
                                <!-- <div class="item_input">Event : <%= users[i].fname %> -->
                                <!-- </div> -->
                                <div class="event-card-img">
                                    <img src="css/event_announcer/poster-background.jpeg" alt="">
                                </div>
                                <div class="event-card-content">
                                    <ul><li>Lorem ipsum dolor sit.</li>
                                    <li>Lorem ipsum dolor sit.</li>
                                    <li>Lorem ipsum dolor sit.</li></ul>
                                </div>
                            </div>
                            <!-- </form> -->
                            <div id="<%= `${JSON.stringify(i)}description` %>" style="display: none;">
                                Lorem ipsum dolor sit. : <%= users[i].fname %>;
                            </div>

                            <% } %>
                    </div>
                </section>
                <script>
                    var size = parseInt('<%=size%>');
                    for (var i = 0; i < size; i++)(function (i) {

                        $('#' + i.toString() + 'card').on('click', function () {
                            // console.log(`${i} element was clicked`);
                            $('.item').css('display', 'none');
                            $('#' + i.toString() + 'description').css('display', 'block');
                            // console.log("this function on " + id + "was called");
                        });
                    })(i);



                </script>
                <!-- event-announcer section ends  -->
                <%- include('footer') -%>